html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

p {
    margin: 0 0 10px;
}

footer,
header {
    display: block;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.header {
    color: #fff;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    background-color: #002E5D;
    background-size: cover;
}

.top_left > a {
    display: inline-block;
}

img {
    max-width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.slider_container {
    margin: 30px auto;
    position: relative;
}

.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    filter: alpha(opacity=0);
}

.pic {
    border: 20px solid;
}

.mainminner {
    background-color: #FCEDED;
}

.dyn {
    padding: 50px 20px;
    text-align: center;
}

.slider_container {
    margin: 30px auto;
    width: 400px;
    height: 200px;
    position: relative;
    border: 20px solid;
    border-color: #fff;
    border-bottom-width: 100px;
    background-color: #f5f5f5;
    box-shadow: #666 0 0 5px;
    box-sizing: content-box;
}

.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    /*當圖片數量增加十，影片長度需更，用5的倍數*/
    -webkit-animation: round 35s linear infinite;
    animation: round 35s linear infinite;
    /*每個圖片延遲5秒*/
}

.slider_container img {
    width: 100%;
    height: 100%;
    display: block;
}

@-webkit-keyframes round {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }

    27% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }

    30% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }

    27% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }

    30% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

/*需增加圖片關鍵影格，各延遲5秒*/
.slider_container div:nth-child(7) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.slider_container div:nth-child(6) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.slider_container div:nth-child(5) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 25s;
    animation-delay: 35s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
}

.slider_container span {
    color: #000;
    background: #fff;
    position: absolute;
    left: 0%;
    top: 280px;
    width: 400px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slider_container:hover span {
    width: 100%;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.slider_container:hover div {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.rwd_slider_container {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: calc(70% + 100px);
}

.rwd_slider_container .slider_container {
    box-shadow: none;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

.rwd_slider_container .slider_container div {
    width: 100%;
    height: 100%;
    line-height: 0;
}

.rwd_slider_container .slider_container span {
    top: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fotter {
    background-color: #002E5D;
}

.fotter p {
    color: #FFF;
}

.navimg_show_close {
    display: none;
    justify-content: flex-end;
}

.menu_navlist_close {
    display: none;
}

.main_icon {
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 1px;
    background: #B4504C;
    border-radius: 10px;
    margin: 20px 0px 30px 0px;
    ;
    display: block;
    height: 46px;
    text-align: center;
    vertical-align: middle;
    line-height: 46px;
}

@media (min-width: 768px) {
    .header .minner {
        position: relative;
    }

    .top {
        position: relative;
        padding: 20px 50px;
        justify-content: space-between;
        display: flex;
    }

    .top_left {
        padding: 30px 0;
    }

    .top_right {
        position: relative;
        padding: 10px;
    }

    .menue {
        display: inline-block;
    }

    .drop-down-menu > li {
        float: left;
        position: relative;
        padding: 0;
        text-align: center;
    }

    .drop-down-menu > li > a {
        color: white;
        display: block;
        padding: 6px 10px;
        position: relative;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        font-size: 1.3rem;
    }

    .drop-down-menu a:hover {
        /* 滑鼠滑入按鈕變色*/
        color: #fff;
        text-decoration: none;
    }

    .drop-down-menu li:hover > a {
        /* 滑鼠移入次選單上層按鈕保持變色*/
        color: #fff;
    }

    .drop-down-menu > ul > li {
        border-right: 1px solid #002E5D;
    }

    .hdmenu > ul > li > a {
        z-index: 2;
        color: #FFFFFF;
        border-bottom: 3px solid rgba(0, 0, 0, 0);

    }

    .drop-down-menu ul {
        /*隱藏次選單*/
        display: none;
    }

    .drop-down-menu > li {
        position: relative;
        display: block;
        text-align: center;
    }

    .rwd_slider_container {
        position: relative;
        display: block;
        height: 100%;

        padding: 0;
        box-sizing: border-box;
    }

    .navimg_show_close {
        display: none;
    }

    .navimg_show_open {
        display: none;
    }

    .enterpriselogo img {
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
    }

    .index-container > div {
        flex: 1 1 15%;
        justify-content: center;
        margin: 2px 5px 0 5px;
    }

    .index-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-top: 20px;
        margin: 0 auto;
        max-width: 1600px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .frontpage-ent-logo {
        padding: 0;
        margin-bottom: 0;
    }

    .icon {
        display: inline-block;
    }

    .icon > a {
        display: inline-block;
    }

    .rwd_slider_container_wrapper {
        box-sizing: border-box;
        box-shadow: #666 0 0 5px;
        height: 250px;
        padding: 20px;
        margin: 0 auto;
    }

    .drop-down-menu {
        display: inline-block;
        padding: 0px;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 768px) {
    .top {
        display: flex;
        justify-content: space-between;
    }

    .top_left {
        padding: 14px .5em;
        text-align: center;
    }

    .icon {
        display: none;
    }

    #collapseExample3 {
        background: rgba(0, 0, 0, 0);
        position: fixed;
        bottom: 0;
        top: 69px;
        left: 20%;
        right: 0;
        z-index: 0;
        padding: 0;
        border: 0;
        transition: all 0s;
        width: auto;
        height: auto !important;
    }

    div#collapseExample3 > .well {
        left: 0;
        background: #002E5D;
        position: absolute;
        top: 0;
        right: 0;
        left: 0%;
        transition: all .2s;
        display: flex;
        flex-direction: column;
    }

    .rwd_slider_container {
        position: relative;
        display: block;
        height: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    .navimg_show_open {
        display: flex;
        padding: 20px;
    }

    .drop-down-menu {
        display: none;
    }

    .menu_navlist_open {
        position: absolute;
        flex-direction: column;
        background-color: #002E5D;
        justify-content: space-around;
        z-index: 100;
        left: 50%;
        right: 0;
        margin: 0px;
    }

    #drop-down-menu > li {
        position: relative;
        padding: 0;
        text-align: center;
    }

    #drop-down-menu > li > a {
        color: white;
        display: block;
        padding: 6px 10px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-size: 1.3rem;
    }

    #drop-down-menu a:hover {
        /* 滑鼠滑入按鈕變色*/
        color: #fff;
        text-decoration: none;
    }

    #drop-down-menu li:hover > a {
        /* 滑鼠移入次選單上層按鈕保持變色*/
        color: #fff;
    }

    #drop-down-menu > ul > li {
        border-right: 1px solid #002E5D;
    }

    #hdmenu > ul > li > a {
        z-index: 2;
        color: #FFFFFF;
        border-bottom: 3px solid rgba(0, 0, 0, 0);

    }

    #drop-down-menu ul {
        /*隱藏次選單*/
        display: none;
    }

    #drop-down-menu > li {
        position: relative;
        display: block;
        text-align: center;
    }

    .a {
        font-size: 35px;
    }

    .index-container > div {
        flex: 1 1 30%;
    }

    .index-container {
        margin-top: 20px;
        margin-top: 20px;
        margin: 0 auto;
        max-width: 1600px;
        padding-right: 15px;
        padding-left: 15px;
    }

    s .enterpriselogo img {
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
    }

    .index-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-top: 20px;
        margin: 0 auto;
        max-width: 1600px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .frontpage-ent-logo {
        padding: 0;
        margin-bottom: 0;
    }

    .rwd_slider_container_wrapper {
        box-sizing: border-box;
        box-shadow: #666 0 0 5px;
        height: 150px;
        padding: 20px;
        margin: 0 auto;
    }
}
